html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.track-img {
    border-radius: 3px;
    width: 32px;
    height: 32px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: .1s;
}
.track-img:hover {
    transform: scale(2.3);
}

.track-title {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
}
.track-title:hover {
    color: #adb5bd;
}

.login-text-url {
    color: #adb5bd;
}
.login-text-url:hover {
    color: #6c757d;
}

.square-image {
    border-radius: 3px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all 0.3s ease;
}
.square-btn {
    border-radius: 3px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: transparent;
}
.square-image-homepage {
    border-radius: 3px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all 0.3s ease;
}
.square-image-homepage:hover {
    opacity: 0.7;
}

:root {
    --plyr-range-fill-background: white;
    --plyr-color-main: #495057;
}
.plyr--full-ui .plyr__controls {
    border-radius: 10px;
    background: transparent;
}
.plyr__controls > button {
    background: transparent;
}
.plyr__progress {
    background: transparent;
}
.plyr__controls button {
    color: white;
}
.plyr__time--current {
    color: white;
}
.plyr__time--duration {
    color: white;
}
#loop-toggle {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 3px;
    padding: 0;
}
#loop-toggle > i:hover {
    border-radius: 5px;
    background: #495057;
}
#loop-toggle > .bi {
    font-size: 18px;
    padding: 3px 6px 5px 6px;
}
.plyr--audio .plyr__controls {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.play-track-button{
    border: none;
    border-radius: 5px;
}